<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= ' | ' %>
    <%= link_to 'About', about_path%>
    <%= ' | ' %>
    <%= link_to 'Contact', contact_path %>
    <%= ' | ' %>
    <%= link_to 'Help', help_path %>
    <%= yield %>
  </body>
</html>
